In [4]:
from stock import stocks

In [5]:
s = stocks()

In [6]:
s.get_data_to_csv('AMD')

                Open      High       Low     Close  Adj Close    Volume
Date
2000-01-03  14.96875  15.59375  14.68750  15.50000   15.50000   7843200
2000-01-04  15.12500  15.50000  14.59375  14.62500   14.62500   6290200
2000-01-05  14.53125  15.06250  14.00000  15.00000   15.00000   8204600
2000-01-06  15.50000  16.00000  15.25000  16.00000   16.00000  11489400
2000-01-07  15.40625  16.40625  15.37500  16.25000   16.25000   8543400
2000-01-10  16.75000  17.75000  16.68750  17.50000   17.50000  12916400
2000-01-11  17.50000  17.96875  16.96875  17.25000   17.25000   6679800
2000-01-12  17.00000  18.37500  16.81250  18.12500   18.12500   8818600
2000-01-13  18.37500  18.87500  17.56250  18.87500   18.87500   7542200
2000-01-14  18.56250  20.28125  18.50000  20.18750   20.18750  15007800
2000-01-18  20.00000  20.62500  19.34375  19.50000   19.50000  10871400
2000-01-19  19.87500  21.50000  19.40625  19.59375   19.59375   8924400
2000-01-20  21.75000  22.56250  19.00000  19.50000   19.50000  28847200
2000-01-21  19.56250  19.56250  18.06250  18.93750   18.93750  11715000
2000-01-24  18.62500  19.21875  16.90625  17.25000   17.25000  10269800
2000-01-25  17.28125  20.25000  17.25000  20.00000   20.00000  10805800
2000-01-26  18.81250  19.12500  18.28125  18.50000   18.50000   7597800
2000-01-27  19.00000  19.50000  18.43750  18.46875   18.46875   6167800
2000-01-28  18.59375  18.87500  17.18750  17.62500   17.62500   6867200
2000-01-31  17.62500  18.12500  17.21875  18.00000   18.00000   4288800
2000-02-01  18.25000  18.37500  17.50000  18.28125   18.28125   5111200
2000-02-02  18.15625  18.25000  17.78125  18.03125   18.03125   4076200
2000-02-03  18.37500  19.68750  18.15625  19.50000   19.50000   9523800
2000-02-04  19.50000  20.06250  19.18750  19.28125   19.28125   7109200
2000-02-07  19.28125  20.65625  19.06250  20.65625   20.65625   6056600
2000-02-08  20.50000  21.00000  19.59375  20.68750   20.68750   8583800
2000-02-09  20.68750  21.18750  20.25000  21.03125   21.03125   7813600
2000-02-10  21.03125  21.37500  20.65625  21.25000   21.25000   6373600
2000-02-11  21.37500  22.75000  20.90625  22.75000   22.75000  14933400
2000-02-14  22.40625  22.75000  21.06250  21.62500   21.62500   8745200
...              ...       ...       ...       ...        ...       ...
2017-07-28  13.85000  14.10000  13.68000  13.95000   13.95000  66763800
2017-07-31  14.09000  14.22000  13.47000  13.61000   13.61000  69108700
2017-08-01  13.72000  13.86000  13.45000  13.71000   13.71000  49149900
2017-08-02  13.81000  13.93000  13.12000  13.37000   13.37000  67502200
2017-08-03  13.42000  13.52000  13.08000  13.24000   13.24000  52557400
2017-08-04  13.20000  13.36000  13.02000  13.12000   13.12000  64254000
2017-08-07  13.33000  13.57000  13.27000  13.43000   13.43000  57486800
2017-08-08  13.48000  13.55000  13.08000  13.11000   13.11000  47338000
2017-08-09  12.76000  12.89000  12.54000  12.83000   12.83000  58861500
2017-08-10  12.70000  12.92000  12.11000  12.12000   12.12000  83113400
2017-08-11  12.04000  12.39000  11.88000  12.23000   12.23000  63558800
2017-08-14  12.58000  12.85000  12.58000  12.76000   12.76000  64426100
2017-08-15  13.01000  13.14000  12.75000  13.02000   13.02000  57990300
2017-08-16  13.17000  13.19000  12.52000  12.63000   12.63000  64639400
2017-08-17  12.46000  12.65000  12.32000  12.34000   12.34000  47371000
2017-08-18  12.43000  12.56000  12.25000  12.37000   12.37000  37521700
2017-08-21  12.42000  12.42000  11.86000  12.05000   12.05000  58888500
2017-08-22  12.20000  12.33000  12.10000  12.17000   12.17000  39033200
2017-08-23  12.00000  12.54000  11.95000  12.48000   12.48000  44345400
2017-08-24  12.69000  12.71000  12.39000  12.50000   12.50000  37269700
2017-08-25  12.51000  12.57000  12.25000  12.43000   12.43000  29732000
2017-08-28  12.53000  12.55000  12.16000  12.23000   12.23000  35969600
2017-08-29  12.00000  12.18000  11.93000  12.15000   12.15000  33618100
2017-08-30  12.19000  12.68000  12.16000  12.67000   12.67000  43933000
2017-08-31  12.82000  13.16000  12.79000  13.00000   13.00000  51822100
2017-09-01  13.12000  13.49000  13.04000  13.19000   13.19000  53158600
2017-09-05  12.88000  13.18000  12.65000  12.92000   12.92000  51445500
2017-09-06  13.02000  13.08000  12.75000  12.86000   12.86000  34182400
2017-09-07  12.84000  12.94000  12.60000  12.63000   12.63000  35816900
2017-09-08  12.57000  12.61000  12.04000  12.25000   12.25000  60620600

[4450 rows x 6 columns]